body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
