@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf")
};

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf")
};

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf")
};

@font-face {
  font-family: "Alegreya-Regular";
  src: url("../fonts/Alegreya-Regular.ttf")
};