doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Татуировки без машинки
  body
    header.header
      .header__text-col
        nav.header__nav
          ul.header__list
            li.header__item
              a.header__link(href="#") Обо мне
            li.header__item
              a.header__link(href="#") Работы
            li.header__item
              a.header__link(href="#") Контакты
        img.header__mobile-photo(src="/header-photo.jpg", alt="My photo")
        h1.header__name Марта Гойло
        span.header__desc татуировки без машинки
        .video-section
          .video-section__wrapper
            iframe.video-section__video(src="" data-src="https://www.youtube.com/embed/HqiKUt2GnjA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay="1")
            .video-section__bg
            a.video-section__btn(href="#")
              img.video-section__icon(src="/play-btn.png", alt="Play button")
          span.video-section__desc Что такое хэндпоук тату?<br>Смотри видео
        img.header__scull-img(src="/scull.svg", alt="Scull pattern")
      .header__photo-col
        img.header__photo(src="/header-photo.jpg", alt="My photo")
    main.main
      section.works-section.side-padding
        .works-section__content.container
          h2.works-section__title.section-title Портфолио
          .works-section__tabs
            a.works-section__tab-btn(href="#") cделано
            a.works-section__tab-btn(href="#") эскизы
          .works-section__grid
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-1.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-2.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-3.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-4.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-5.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-6.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-7.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-8.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-9.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-7.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-8.png", alt="Scetch")
            .works-section__item.works-section__scetch-item
              img.works-section__work(src="scetch-9.png", alt="Scetch")
          .works-section__grid
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-1.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-2.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-3.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-4.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-5.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-6.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-7.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-8.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-9.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-7.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-8.jpg", alt="Work")
            .works-section__item.works-section__made-item
              img.works-section__work(src="work-9.jpg", alt="Work")
          a.works-section__btn(href="#") Смотреть все

