doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Татуировки без машинки
  body
    header.header
      .header__text-col
        nav.header__nav
          ul.header__list
            li.header__item
              a.header__link(href="#") Обо мне
            li.header__item
              a.header__link(href="#") Работы
            li.header__item
              a.header__link(href="#") Контакты
        img.header__mobile-photo(src="/header-photo.jpg", alt="My photo")
        h1.header__name Марта Гойло
        span.header__desc татуировки без машинки
        .video-section
          .video-section__wrapper
            iframe.video-section__video(src="" data-src="https://www.youtube.com/embed/HqiKUt2GnjA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay="1")
            .video-section__bg
            a.video-section__btn(href="#")
              img.video-section__icon(src="/play-btn.png", alt="Play button")
          span.video-section__desc Что такое хэндпоук тату?<br>Смотри видео
        img.header__scull-img(src="/scull.svg", alt="Scull pattern")
      .header__photo-col
        img.header__photo(src="/header-photo.jpg", alt="My photo")