doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Татуировки без машинки
  body
    header.header
      .header__text-col
        nav.header__nav
          ul.header__list
            li.header__item
              a.header__link(href="#") Обо мне
            li.header__item
              a.header__link(href="#") Работы
            li.header__item
              a.header__link(href="#") Контакты
      .header__photo-col
        img.header__photo(src="/header-photo.jpg", alt="My photo")