doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Татуировки без машинки
  body
    header.header
      .header__text-col
        nav.header__nav
          ul.header__list
            li.header__item
              a.header__link(href="#") Обо мне
            li.header__item
              a.header__link(href="#") Работы
            li.header__item
              a.header__link(href="#") Контакты
        h1.header__name Марта Гойло
        span.header__desc татуировки без машинки
        .header__video-wrapper
          iframe.header__video(width="560" height="315" src="https://www.youtube.com/embed/HqiKUt2GnjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          span.header__video-desc Что такое хэндпоук тату?<br>Смотри видео
        img.header__scull-img(src="/scull.svg", alt="Scull pattern")
      .header__photo-col
        img.header__photo(src="/header-photo.jpg", alt="My photo")